<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1254">
		<%= stylesheet_link_tag "styleSayfalar" %>
	</head>
	
	<body>
	
	<div id="main"Style="width:1346px; height:700px;">
	
		<div id='up' Style=" width:1346px; height:150px; ">
		
			<div Style=" width:1346px; height:50px;"></div>
			<div Style=" width:1346px; height:50px;"><h3 Style=" text-align:center;">WELCOME ONLINE CV CREATOR</h3></div>
			<div Style=" width:1346px; height:50px;"></div>
		
		
		</div>
		
		<div id='middle' Style="width:1346px; height:500px; ">
			
			<div id='cssmenu' Style=" width:346px; height:500px; float:left;">
			
				<ul Style="margin-top:67px;">
					<li><a href='tecrubeler.html'><span>Tecrübeler</span></a></li>
					<li><a href='egitim.html'><span>Eğitim</span></a></li>
					<li><a href='sertifikalar.html'><span>Sertifikalar</span></a></li>
					<li><a href='ilgi.html'><span>İlgi Alanları</span></a></li>
					<li class='last'><a href='referanslar.html'><span>Referanslar</span></a></li>
					<li><a href="#"><span>Yeni Bölüm Ekle +</span></a></li>
				</ul>
				
			</div>
			
			<div Style=" width:500px; height:500px; float:left;">
			
			<h3>Referanslar</h3>
			<p>Açıklama:</p>
				<textarea rows="10" cols="50"></textarea>
				<form name="input" action="demo_form_action.asp" method="get">
					<input type="submit" value="Tamam">
				</form>
			</div>
			<div id='cssmenu' Style=" width:500px; height:500px; float:left;" >
			
				<ul Style="margin-top:120px;">
					<li><a href='kaydet.html'><img src="image/kaydet.png">&nbsp &nbsp <span>Kaydet</span></a></li>
					<li><a href='onizle.html'><img src="image/preview.png">&nbsp &nbsp <span>Önizle</span></a></li>
					<li class='last'><a href='indir.html'><img src="image/indir.png">&nbsp &nbsp <span>İndir</span></a></li>
					
				</ul>
			</div>
			
		</div>
		
		<div id='footer' Style=" width:1346px; height:50px; "></div>
	</div>
	
	</body>
	
</html>